<!DOCTYPE html>
<html>

<head>
    <title>SmallAngular</title>
</head>

<body ng-app ng-init="surname = 'panas'; name ='alex'">
    <div ng-show="true" random-color> hi Ivan!!! </div>
    <input ng-model="name" />
    <p make-short uppercase>qqq qqq qqq qqq qqq qqq qqq</p>
    <p ng-bind="name" ng-click='surname = "panas"'></p>
    <h2 ng-bind="surname" ng-click='surname = "shil"'></h2>
    <p make-short length='10'>123456789_10_11_12_13_14</p>
    <ul>
        <li ng-repeat="letter in name"></li>
    </ul>
    <script src='src/index.js'></script>
</body>

</html>